{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div style="background-color: rgb(240, 240, 240)">
    <div class="card">
        <div class="container">
            <div class="row" style="margin-top: 60px;">
                <div class="col-md-2"> </div>
                <div class="col-md-8">

                    {{wtf.quick_form(registration_form)}}

                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <br>
</div>

{% endblock%}