<header class="nav-header">
        <div class="container-fluid">
<div class="navbar-inverse role=navigation navbar-fixed-top scrolling-navbar navbar-expand-lg">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand mr-4" style="color: #cbd5db; font-weight: 500;"> Sixty Seconds Pitch </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a style="color: #cbd5db; font-weight: 500;" href="/">Home</a></li>
                <li><a style="color: #cbd5db; font-weight: 500;" href="{{url_for('main.interview_pitches')}}">Interview</a></li>
                <li><a style="color: #cbd5db; font-weight: 500;" href="{{url_for('main.product_pitches')}}">Product</a></li>
                <li><a style="color: #cbd5db; font-weight: 500;" href="{{url_for('main.promotion_pitches')}}">Promotion</a></li>
            </ul>

            
        </div>
    </div>
</div>
</header>


